@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: rgba(17, 24, 39, 0.8) transparent;
  font-size: 75%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  overscroll-behavior-y: none;
  scrollbar-width: thin;
  scrollbar-color: rgba(17, 24, 39, 0.8) transparent;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(17, 24, 39, 0.8);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(17, 24, 39, 0.95);
}

/* Scroll snapping */
.snap-y {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.snap-start {
  scroll-snap-align: start;
}